In [ ]:
'''
Write a Pandas program to implement following operation

Name:Panera Ghanshyam.
Enrollment No:216270307072.
'''
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [ ]:
'''
Write a Pandas program to implement following operation

to create a dataframe from a dictionary and
display it

Name:Panera Ghanshyam.
Enrollment No:216270307072.
'''

d={"name":["ghanshyam","harsh","yash"],"eno":[72,72,73]}

df=pd.DataFrame(d)

print(df)

In [ ]:
'''
Write a Pandas program to implement following operation

to sort the DataFrame first by 'name' in
ascending order

Name:Panera Ghanshyam.
Enrollment No:216270307072.
'''
d={"name":["ghanshyam","yash","harsh"],"eno":[72,73,74]}

df=pd.DataFrame(d)

print("Before sort:\n",df)

df=df.sort_values(by=["name"],ascending=True)
print()
print("After sort:\n",df)

In [ ]:
'''
Write a Pandas program to implement following operation

to delete the one specific column from the
DataFrame

Name:Panera Ghanshyam.
Enrollment No:216270307072.
'''

print("Original DataFrame:\n",df)

df=df.drop(columns="eno")

print()
print("After Deleting Eno column:\n",df)